
<input type="text" [(ngModel)]="Firstname" name="firstname" placeholder="Enter First Name" maxlength="30px"><br>
<input type="text" [(ngModel)]="Lastname" name="lastname" placeholder="Enter Last Name" maxlength="30px"><br>
<input type="text" [(ngModel)]="Phone" name="phone" placeholder="Enter Phone Number" maxlength="30px"><br>
<input type="text" [(ngModel)]="Mobile" name="mobile" placeholder="Enter Mobile Number" maxlength="30px"><br>
<input type="text" [(ngModel)]="Email" name="email" placeholder="Enter Email" maxlength="30px"><br>
<input type="text" [(ngModel)]="Password" name="password" placeholder="Enter Password" maxlength="30px"><br>
<input type="submit" value="Submit" (click)="addPost()">


<ul *ngFor="let post of posts | async">
  <li (click)="getPost(post.id)">
    <strong>{{ post.data.title }} (<a href="#" (click)="deletePost(post.id)">delete</a>)</strong>
    <br>
    {{ post.data.content }}
  </li>
</ul>

<h1>A specific post:</h1>

<h3>{{ (post | async)?.title }}</h3>
<p>{{ (post | async)?.content }}</p>
